*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


:root{
    --hue-neutral: rgb(97, 97, 160);
    --hue-wrong:0;
    --hue-correct: rgb(145, 93, 102);
}


body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: vw;
    height: vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);

}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container{
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5;
    padding: 10px;
    box-shadow: 0 0 10px 2px;

}


.btn-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0;

}
 
.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%)

}

.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}